body{
  background-image: url("../imgs/cutePig.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100em;
}
h1{
  color: white;
  font-size:100px;
  font-family: 'Montserrat', sans-serif;
}
.container{
  text-align: center;
}

.float-right{
  float:right;
}

.card{
  color:black;
  padding:20px;
  margin-top:20px;
  margin-right: 10px;
  width: 150px;
}

#diceDisplay img{
  width:25%;
  background-color:pink;
  border-radius:32px;
  display:none;
}
#diceDisplay .btn{
  max-width:75%
}

#gameDisplay{
  display: none;
}

#nameForm{
  margin-bottom:10px;
}
