body{
  background-image: url("../imgs/cutePig.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100em;
}
h1{
  color: white;
  font-size:100px;
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-size:50px;
  font-family: 'Montserrat', sans-serif;
}
.container{
  text-align: center;
}

.float-right{
  float:right;
}

.card{
  color:black;
  padding:20px;
  margin-top:20px;
  margin-right: 10px;
}

#diceDisplay img{
  width:200px;
  background-color:pink;
  border-radius:32px;
  display:none;
}

#gameDisplay{
  display: none;
}

#nameForm{
  margin-bottom:10px;
}

.gameButton{
  height:100px;
}

.currentTurn{
  background-color:	#d9534f;
}
